<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.engauge" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.app.engauge.FirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/signup_activity_label" >
        </activity>
        <activity
            android:name=".HomepageActivity"
            android:label="@string/homepage_activity_label" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/create_group_activity_label" >
        </activity>
        <activity
            android:name=".ViewGroupActivity"
            android:label="@string/view_group_activity_label" >
        </activity>
        <activity
            android:name=".AddQuestionActivity"
            android:label="@string/add_question_activity_label" >
        </activity>
    </application>

</manifest>
